In [53]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [54]:
df = pd.read_csv('outbreaks.csv')

In [55]:
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [56]:
df = df[df['Food'].notnull()][df['Species'].notnull()]

/home/jackdougherty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [57]:
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0
7,1998,January,California,Restaurant,"Stuffing, Unspecified; Sandwich, Turkey",NaN,Salmonella enterica,Enteritidis,Confirmed,4,3.0,0.0
8,1998,January,Colorado,Restaurant,"Salad, Unspecified",NaN,Virus,NaN,Suspected,21,NaN,NaN
9,1998,January,Colorado,Restaurant,"Peppers, Chili",NaN,Virus,NaN,Suspected,3,NaN,0.0

In [79]:
food_strings_list = list(df['Food'])

In [149]:
food_strings_list_clean = []


for foods_list in food_strings_list[0:2]:
    foods_list = foods_list.replace('Unspecified', '')
    foods_list = foods_list.replace('Other', '')
    foods_list = foods_list.split(',')
    
    print(foods_list)
    clean_food = []
    
    for food in foods_list:
        food = food.replace(';', '')
        print(food)
        clean_food.append(food)

    food_string_list_clean.append(clean_food)
    
    
food_strings_list_clean = list(set(food_strings_list_clean))

['Fish', ' Ahi']
Fish
 Ahi
['Lasagna', ' ; Eggs', ' ']
Lasagna
  Eggs

In [139]:
food_string_list_clean

['i',
 'l',
 's',
 'j',
 '%',
 ' ',
 'w',
 'r',
 'p',
 'O',
 'C',
 'R',
 'x',
 'S',
 'u',
 'J',
 'F',
 "'",
 '&',
 'I',
 'K',
 '2',
 'e',
 'h',
 'v',
 'm',
 ';',
 'y',
 'n',
 'z',
 'W',
 'V',
 'o',
 'T',
 'g',
 'U',
 '-',
 '1',
 'd',
 'f',
 'M',
 'A',
 'a',
 'H',
 'k',
 'D',
 'Z',
 't',
 'P',
 '(',
 '/',
 'c',
 'E',
 'B',
 'G',
 'b',
 'Y',
 'N',
 'L',
 ':',
 'q',
 ')',
 ',',
 '*',
 'Q',
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' ']]