In [205]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [206]:
df = pd.read_csv('source.csv')

In [207]:
df.set_index('species', inplace=True)

In [208]:
df.head()

,Unnamed: 0,cannelloni,basil,pastry,filling,leafy,quesadillas,goulash,tomatilla,vegetables,...,crawfish,beet,tomatillo,cactus,meringue,ranch,octopus,lettuce,peas,mango
species,,,,,,,,,,,,,,,,,,,,,
faecalis,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
enterica,1,1,2,1,1,0,1,0,1,6,...,2,0,0,0,2,1,0,18,1,7
vibrio,2,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
giardia,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
shellfish,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [209]:
df.sum(axis=1).sort_values(ascending=False).head(10)

species
virus             5514
norovirus         5425
salmonella        3521
enterica          3437
clostridium       2076
perfringens       1959
staphylococcus    1404
aureus            1360
bacillus          1315
cereus            1283
dtype: int64

In [210]:
target_organisms = ['norovirus', 'salmonella', 'clostridium', 'staphylococcus', 'bacillus', 'escherichia', 'scombroid',
                    'shiga', 'campylobacter', 'ciguatoxin', 'jejuni', 'vibrio', 'shigella', 'listeria',
                    'botulinum', 'hepatitis', 'shellfish', 'cyclospora', 'cryptosporidium']

In [211]:
df.max().sort_values(ascending=False).head(10)

salad       829
chicken     526
sandwich    268
egg         242
fish        226
beef        189
tuna        188
oyster      188
lettuce     173
ice         161
dtype: int64

In [212]:
target_foods = ['salad', 'chicken', 'sandwich', 'egg', 'fish', 'beef', 'tuna', 'oyster', 'lettuce', 'egg', 'ice',
                'milk', 'rice', 'fruit', 'ahi', 'sub', 'cake', 'pork']

In [213]:
df = df.loc[target_organisms, target_foods]

In [224]:
df.head(5)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,811,302,259,44,17,88,22,171,172,44,158,5,25,118,0,109,108,24
salmonella,122,526,50,242,21,100,11,10,19,242,76,17,27,13,3,4,37,107
clostridium,31,309,15,10,12,189,3,0,5,10,51,0,47,0,1,2,6,70
staphylococcus,45,190,51,13,11,51,4,4,0,13,39,4,30,0,0,4,9,58
bacillus,25,162,12,2,3,38,2,0,4,2,129,0,125,0,1,2,10,18

In [219]:
all_diseases = df.sum()

In [220]:
all_foods = df.sum(axis=1)

In [ ]:
# e.g. P(norovirus | salad)

In [ ]:
df / all_diseases

In [ ]:
df_disease_given_food = df / all_diseases

In [ ]:
df_disease_given_food.max()

In [ ]:
df_disease_given_food.max() == df_disease_given_food

In [ ]:
df[df_disease_given_food.max() == df_disease_given_food].fillna(0)

In [ ]:
df[df_disease_given_food.max() == df_disease_given_food].fillna(0).max()

In [ ]:
# e.g. P(salad), AKA P(salad | outbreak)

In [ ]:
df_food_given_outbreak = pd.DataFrame(columns = df.columns)

In [ ]:
df_food_given_outbreak = all_diseases / all_diseases.sum()

In [ ]:
df_food_given_outbreak.head(2)

In [ ]:
# Bayes calculation, eg: P(salad | norovirus) = P(norovirus | salad) * P(salad) /
#                                                summation(P(disease | food) * P(food))

In [ ]:
# Abandoned approach

In [ ]:
df.corr()