In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('source.csv')

In [3]:
df = df.rename(columns={'Unnamed: 0': 'species'})

In [4]:
df.set_index('species', inplace=True)

In [13]:
df.sum(axis=1).sort_values(ascending=False).head()

species
norovirus      2477
salmonella     1627
clostridium     761
bacillus        535
scombroid       530
dtype: int64

In [6]:
target_organisms = ['norovirus', 'salmonella', 'clostridium', 'staphylococcus', 'bacillus', 'coli', 'scombroid',
                    'shiga', 'campylobacter', 'ciguatoxin', 'jejuni', 'vibrio', 'shigella', 'listeria',
                    'botulinum', 'hepatitis', 'shellfish', 'cyclospora', 'cryptosporidium']

In [48]:
df.max().sort_values(ascending=False).head()

salad       811
chicken     526
sandwich    259
egg         242
egg         242
dtype: int64

In [8]:
target_foods = ['salad', 'chicken', 'sandwich', 'egg', 'fish', 'beef', 'tuna', 'oyster', 'lettuce', 'egg', 'ice',
                'milk', 'rice', 'fruit', 'ahi', 'sub', 'cake', 'pork']

In [9]:
df = df.loc[target_organisms, target_foods]

In [50]:
df.head(2)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,811,302,259,44,17,88,22,171,172,44,158,5,25,118,0,109,108,24
salmonella,122,526,50,242,21,100,11,10,19,242,76,17,27,13,3,4,37,107

In [52]:
norovirus = df.iloc[0].sum()

In [53]:
norovirus_salad = df.iloc[0,0]

In [60]:
all_diseases = df.sum()

In [61]:
all_foods = df.sum(axis=1)

In [62]:
df_structure = pd.DataFrame(columns=df.columns, index=df.index)

In [63]:
df_structure.fillna(0, inplace=True)

In [64]:
df_structure.head(2)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
salmonella,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
# e.g. P(norovirus | salad)

In [68]:
df_disease_given_food = df / all_diseases

In [70]:
df_disease_given_food.head(2)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,0.661501,0.172080,0.600928,0.136646,0.032692,0.115789,0.092437,0.435115,0.593103,0.136646,0.319192,0.015528,0.095785,0.791946,0.000,0.872,0.610169,0.079470
salmonella,0.099511,0.299715,0.116009,0.751553,0.040385,0.131579,0.046218,0.025445,0.065517,0.751553,0.153535,0.052795,0.103448,0.087248,0.024,0.032,0.209040,0.354305

In [82]:
# e.g. P(salad), AKA P(salad | outbreak)

In [81]:
df_food_given_outbreak = pd.DataFrame(columns = df.columns)

In [85]:
df_food_given_outbreak = all_diseases / all_diseases.sum()

In [88]:
df_food_given_outbreak.head(2)

salad      0.149276
chicken    0.213686
dtype: float64

In [90]:
# Bayes calculation, eg: P(salad | norovirus) = P(norovirus | salad) * P(salad) /
#                                                summation(P(disease | food) * P(food))

In [ ]:
df_food_given_disease =