In [117]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [125]:
df = pd.read_csv('source.csv')

In [126]:
df.set_index('species', inplace=True)

In [127]:
df.sum(axis=1).sort_values(ascending=False).head(10)

species
virus             5514
norovirus         5425
salmonella        3521
enterica          3437
clostridium       2076
perfringens       1959
staphylococcus    1404
aureus            1360
bacillus          1315
cereus            1283
dtype: int64

In [128]:
target_organisms = ['norovirus', 'salmonella', 'clostridium', 'staphylococcus', 'bacillus', 'escherichia', 'scombroid',
                    'shiga', 'campylobacter', 'ciguatoxin', 'jejuni', 'vibrio', 'shigella', 'listeria',
                    'botulinum', 'hepatitis', 'shellfish', 'cyclospora', 'cryptosporidium']

In [129]:
df.max().sort_values(ascending=False).head(10)

salad       829
chicken     526
sandwich    268
egg         242
fish        226
beef        189
tuna        188
oyster      188
lettuce     173
ice         161
dtype: int64

In [130]:
target_foods = ['salad', 'chicken', 'sandwich', 'egg', 'fish', 'beef', 'tuna', 'oyster', 'lettuce', 'egg', 'ice',
                'milk', 'rice', 'fruit', 'ahi', 'sub', 'cake', 'pork']

In [131]:
df = df.loc[target_organisms, target_foods]

In [132]:
df.head(2)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,811,302,259,44,17,88,22,171,172,44,158,5,25,118,0,109,108,24
salmonella,122,526,50,242,21,100,11,10,19,242,76,17,27,13,3,4,37,107

In [133]:
norovirus = df.loc['norovirus'].sum()

In [134]:
norovirus_salad = df.loc['norovirus','salad']

In [135]:
all_diseases = df.sum()

In [136]:
all_foods = df.sum(axis=1)

In [137]:
df_structure = pd.DataFrame(columns=df.columns, index=df.index)

In [138]:
df_structure.fillna(0, inplace=True)

In [139]:
df_structure.head(2)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
salmonella,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [140]:
# e.g. P(norovirus | salad)

In [141]:
df_disease_given_food = df / all_diseases

In [142]:
df_disease_given_food.head(20)

,salad,chicken,sandwich,egg,fish,beef,tuna,oyster,lettuce,egg,ice,milk,rice,fruit,ahi,sub,cake,pork
species,,,,,,,,,,,,,,,,,,
norovirus,0.662582,0.172868,0.600928,0.136646,0.032692,0.115942,0.092437,0.437340,0.593103,0.136646,0.319838,0.015773,0.095785,0.791946,0.000,0.872,0.610169,0.081633
salmonella,0.099673,0.301088,0.116009,0.751553,0.040385,0.131752,0.046218,0.025575,0.065517,0.751553,0.153846,0.053628,0.103448,0.087248,0.024,0.032,0.209040,0.363946
clostridium,0.025327,0.176875,0.034803,0.031056,0.023077,0.249012,0.012605,0.000000,0.017241,0.031056,0.103239,0.000000,0.180077,0.000000,0.008,0.016,0.033898,0.238095
staphylococcus,0.036765,0.108758,0.118329,0.040373,0.021154,0.067194,0.016807,0.010230,0.000000,0.040373,0.078947,0.012618,0.114943,0.000000,0.000,0.032,0.050847,0.197279
bacillus,0.020425,0.092730,0.027842,0.006211,0.005769,0.050066,0.008403,0.000000,0.013793,0.006211,0.261134,0.000000,0.478927,0.000000,0.008,0.016,0.056497,0.061224
escherichia,0.043301,0.012593,0.025522,0.000000,0.001923,0.173913,0.000000,0.000000,0.131034,0.000000,0.022267,0.088328,0.007663,0.040268,0.000,0.016,0.011299,0.017007
scombroid,0.005719,0.001145,0.011601,0.000000,0.400000,0.000000,0.789916,0.000000,0.000000,0.000000,0.000000,0.003155,0.000000,0.000000,0.952,0.000,0.000000,0.000000
shiga,0.037582,0.009159,0.020882,0.000000,0.000000,0.168643,0.000000,0.000000,0.127586,0.000000,0.022267,0.088328,0.007663,0.033557,0.000,0.016,0.005650,0.013605
campylobacter,0.017974,0.062965,0.018561,0.003106,0.003846,0.018445,0.008403,0.020460,0.017241,0.003106,0.008097,0.400631,0.003831,0.013423,0.000,0.000,0.005650,0.017007
ciguatoxin,0.000000,0.000000,0.000000,0.006211,0.434615,0.000000,0.000000,0.000000,0.000000,0.006211,0.000000,0.003155,0.000000,0.000000,0.008,0.000,0.000000,0.000000
jejuni,0.013072,0.046938,0.006961,0.000000,0.003846,0.013175,0.004202,0.010230,0.013793,0.000000,0.004049,0.302839,0.003831,0.013423,0.000,0.000,0.005650,0.006803
vibrio,0.004085,0.001145,0.002320,0.000000,0.003846,0.000000,0.004202,0.480818,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.005650,0.000000
shigella,0.020425,0.012593,0.004640,0.000000,0.003846,0.010540,0.000000,0.010230,0.010345,0.000000,0.006073,0.000000,0.003831,0.006711,0.000,0.000,0.000000,0.003401
listeria,0.002451,0.001145,0.002320,0.000000,0.000000,0.001318,0.004202,0.000000,0.003448,0.000000,0.010121,0.009464,0.000000,0.000000,0.000,0.000,0.000000,0.000000
botulinum,0.000817,0.000000,0.000000,0.024845,0.015385,0.000000,0.008403,0.000000,0.000000,0.024845,0.002024,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000
hepatitis,0.002451,0.000000,0.009281,0.000000,0.000000,0.000000,0.000000,0.005115,0.003448,0.000000,0.008097,0.003155,0.000000,0.006711,0.000,0.000,0.005650,0.000000
shellfish,0.000000,0.000000,0.000000,0.000000,0.009615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000
cyclospora,0.007353,0.000000,0.000000,0.000000,0.000000,0.000000,0.004202,0.000000,0.003448,0.000000,0.000000,0.000000,0.000000,0.006711,0.000,0.000,0.000000,0.000000
cryptosporidium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018927,0.000000,0.000000,0.000,0.000,0.000000,0.000000

In [143]:
# e.g. P(salad), AKA P(salad | outbreak)

In [144]:
df_food_given_outbreak = pd.DataFrame(columns = df.columns)

In [112]:
df_food_given_outbreak = all_diseases / all_diseases.sum()

In [113]:
df_food_given_outbreak.head(2)

salad      0.137490
chicken    0.202536
dtype: float64

In [114]:
# Bayes calculation, eg: P(salad | norovirus) = P(norovirus | salad) * P(salad) /
#                                                summation(P(disease | food) * P(food))

In [115]:
df_food_given_disease =

SyntaxError: invalid syntax (<ipython-input-115-8a5b161b0b2f>, line 1)