In [225]:
import json
import pandas as pd
import folium

In [226]:
df = pd.read_csv('outbreaks.csv')

In [227]:
df.head(1)

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0

In [234]:
df['Species'].isnull().sum()

6619

In [236]:
(19119 - 6619) / 19119

0.6537998849312202

In [230]:
df.groupby(['Month', 'State']).count()['Illnesses']

Month      State
April      Alabama           26
           Alaska             4
           Arizona           36
           Arkansas           3
           California       190
                           ...
September  Washington        64
           Washington DC      3
           West Virginia      4
           Wisconsin         27
           Wyoming            5
Name: Illnesses, Length: 631, dtype: int64

In [198]:
df = df.reset_index()

In [200]:
df

         Month          State  Illnesses
0        April        Alabama        326
1        April         Alaska         17
2        April        Arizona        395
3        April       Arkansas        108
4        April     California       3937
..         ...            ...        ...
626  September     Washington        857
627  September  Washington DC        358
628  September  West Virginia         32
629  September      Wisconsin        416
630  September        Wyoming        104

[631 rows x 3 columns]

In [177]:
states = df['State'].unique()

In [188]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
             'November', 'December']
month_list = []

for i in range(len(states)):
    for month in months:
        month_list.append(month)

In [189]:
state_list = []
for i in range(12):
    for state in states:
        state_list.append(state)

In [190]:
len(state_list) == len(month_list)

True

In [100]:
states = df['State'].unique()

In [101]:
year_list = []

year = 1998
for j in range(year,2016):
    for i in range(len(states)):
        year_list.append(year)
    year +=1

In [106]:
state_list = []

year = 1998
for i in range(year,2016):
    for state in states:
        state_list.append(state)
    year +=1

In [108]:
len(state_list) == len(year_list)

True

In [113]:
df1 = pd.DataFrame(data=[year_list, state_list])

In [119]:
df1 = df1.T

In [120]:
df1.rename(columns = {0:'Year', 1:'State'}, inplace=True)

In [121]:
df1

     Year              State
0    1998            Alabama
1    1998             Alaska
2    1998            Arizona
3    1998           Arkansas
4    1998         California
..    ...                ...
985  2015       Rhode Island
986  2015            Wyoming
987  2015           Delaware
988  2015  Republic of Palau
989  2015        Puerto Rico

[990 rows x 2 columns]

In [122]:
df = df1.merge(df, how='left', on=['Year', 'State'])

In [126]:
df1998 = df[df['Year'] == 1998]

In [131]:
with open(f'us_json.txt') as f:
    usArea = json.load(f)
usMap = folium.Map(location=[39.5, -98.35], tiles='Stamen Toner', zoom_start=4)
folium.GeoJson(usArea).add_to(usMap)
usMap.choropleth(geo_data=usArea, data=df1998['Illnesses'], columns=['Year', 'State'], fill_color='Y1Gn')

ValueError: Y1Gn is not a valid ColorBrewer code