In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('outbreaks.csv')

In [3]:
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [6]:
df = df[df['Food'].notnull()][df['Species'].notnull()]

In [83]:
df['Species'].head(50)

3                                     Scombroid toxin
4                                 Salmonella enterica
7                                 Salmonella enterica
8                                               Virus
9                                               Virus
15                            Clostridium perfringens
16                              Norovirus genogroup I
17                              Staphylococcus aureus
18                                    Bacillus cereus
19                                    Scombroid toxin
20                              Campylobacter unknown
22                                    Bacillus cereus
31                              Campylobacter unknown
33                            Vibrio parahaemolyticus
34                                         Ciguatoxin
35                                    Scombroid toxin
36                                    Scombroid toxin
42                            Clostridium perfringens
43                                Salmonella enterica
49                                Salmonella enterica
50                                Salmonella enterica
51                            Clostridium perfringens
53                                    Shigella sonnei
69                                Salmonella enterica
71                                Salmonella enterica
80                                Salmonella enterica
82                                Salmonella enterica
85                              Staphylococcus aureus
89                            Clostridium perfringens
90                                Salmonella enterica
91                                              Virus
92                            Clostridium perfringens
93                                              Virus
94                                Salmonella enterica
96                              Norovirus genogroup I
97                            Clostridium perfringens
99                            Clostridium perfringens
103                             Norovirus genogroup I
104                             Staphylococcus aureus
110                                   Bacillus cereus
112                                   Bacillus cereus
114                                   Bacillus cereus
115                                   Bacillus cereus
120                             Staphylococcus aureus
137    Clostridium perfringens; Staphylococcus aureus
139                           Clostridium perfringens
147                           Yersinia enterocolitica
172                             Staphylococcus aureus
179                             Streptococcus group A
182                               Salmonella enterica
Name: Species, dtype: object

In [87]:
toxins = df.Species.str.lower().str.split(';',expand = True)
toxins
toxin_list = []
for i in range(toxins.shape[0]):
    toxin_list.extend(toxins.iloc[i,:].unique())
toxin_list = list(set([t.strip() for t in toxin_list if t is not None]))
len(toxin_list)

80

In [80]:
df['Food']

3                                      Fish, Ahi
4              Lasagna, Unspecified; Eggs, Other
7        Stuffing, Unspecified; Sandwich, Turkey
8                             Salad, Unspecified
9                                 Peppers, Chili
                          ...
19105                    Meal Replacement Powder
19108                                  Foie Gras
19111                    Cookies, Chocolate Chip
19113                                Gravy, Pork
19115                                      Salsa
Name: Food, Length: 7245, dtype: object

In [66]:
food_strings_list = df['Food'].str.lower().str.replace(',', '').str.replace(';','').str.split(expand = True)

In [67]:
food_strings_list.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
3,fish,ahi,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,lasagna,unspecified,eggs,other,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,stuffing,unspecified,sandwich,turkey,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,salad,unspecified,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,peppers,chili,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [68]:
vocabulary = []
for row in range(food_strings_list.shape[0]):
    vocabulary.extend(food_strings_list.iloc[row,:].unique())

In [69]:
vocabulary = list(set([v for v in vocabulary if v is not None]))
stop_words = ['and', 'the', '1%']
vocabulary = [v for v in voc]
len(vocabulary)

1041

In [70]:
vocab_df = pd.DataFrame(columns = vocabulary)
vocab_df.head()

Empty DataFrame
Columns: [cupcakes, yogurt, livers, pepperoni, quiche, tetrazini, akule, fruit, beets, cinnamon, broccoli, royal, fin, chef, blackberries, noodle, meatball, acai, mangu, alfredo, escolar, biryani, turshi, products, free, bruschetta, raw, horchata, manicotti, gazpacho, sea, nut, opelu, picata, asada, head, burger, tips, papaya, marsala, meatloaf, cajun, formula, greens, mettwurst, bagels, monchong, hoagies, almonds, seed, persian), ethnic, meats, shawarma, mini, stuffing, milk, mamey, skim, killed, yellow, guinea, italian, joe, bison, sum, rabbit, mutiple, cheese/chevre, sandwich, albacore, brisket, rangoon, vegetables), soup, chillo, frog, shells, home-canned, seven-layer, crawfish/crayfish, cheesecake, bar, diet, spices, arepas, pasta, hook, lasagna, fish-based, (various), asparagus, glacial, cucumber, food, paris-brest, commercially, pruno, piquillo, (butts), ...]
Index: []

[0 rows x 1041 columns]

In [57]:
food_strings_list_clean = []


for foods_list in food_strings_list[0:2]:
    foods_list = foods_list.replace('Unspecified', '')
    foods_list = foods_list.replace('Other', '')
    foods_list = foods_list.split(',')
    
    print(foods_list)
    clean_food = []
    
    for food in foods_list:
        food = food.replace(';', '')
        print(food)
        clean_food.append(food)

    food_string_list_clean.append(clean_food)
    
    
food_strings_list_clean = list(set(food_strings_list_clean))

AttributeError: 'int' object has no attribute 'replace'

In [139]:
food_string_list_clean

['i',
 'l',
 's',
 'j',
 '%',
 ' ',
 'w',
 'r',
 'p',
 'O',
 'C',
 'R',
 'x',
 'S',
 'u',
 'J',
 'F',
 "'",
 '&',
 'I',
 'K',
 '2',
 'e',
 'h',
 'v',
 'm',
 ';',
 'y',
 'n',
 'z',
 'W',
 'V',
 'o',
 'T',
 'g',
 'U',
 '-',
 '1',
 'd',
 'f',
 'M',
 'A',
 'a',
 'H',
 'k',
 'D',
 'Z',
 't',
 'P',
 '(',
 '/',
 'c',
 'E',
 'B',
 'G',
 'b',
 'Y',
 'N',
 'L',
 ':',
 'q',
 ')',
 ',',
 '*',
 'Q',
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' '],
 ['Fish', ' Ahi'],
 ['Lasagna', '  Eggs', ' ']]